# Creado por https://www.toptal.com/developers/gitignore/api/python,windows,linux,visualstudiocode,c++,git
# Editar en https://www.toptal.com/developers/gitignore?templates=python,windows,linux,visualstudiocode,c++,git

### C++ ###
# Prerrequisitos
*.d

# Archivos de objetos compilados
*.slo
*.lo
*.o
*.obj

# Encabezados precompilados
*.gch
*.pch

# Bibliotecas dinámicas compiladas
*.entonces
*.dylib
*.dll

# Archivos de módulo Fortran
*.mod
*.smod

# Bibliotecas estáticas compiladas
*.lai
*.la
*.a
*.lib

# Ejecutables
*.exe
*.afuera
*.aplicación

### Git ###
# Creado por git para copias de seguridad. Para deshabilitar las copias de seguridad en Git:
# $ git config --global mergetool.keepBackup falso
*.orig

# Creado por git al usar herramientas de fusión para conflictos
*.RESPALDO.*
*.BASE.*
*.LOCAL.*
*.REMOTO.*
*_COPIA DE SEGURIDAD_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTO_*.txt

### Linux ###
*~

# archivos temporales que se pueden crear si un proceso aún tiene abierto el identificador de un archivo eliminado
.fusible_oculto*

# Preferencias del directorio de KDE
.directorio

# Carpeta de basura de Linux que puede aparecer en cualquier partición o disco
.Basura-*

Los archivos .nfs se crean cuando se elimina un archivo abierto pero aún se accede a él
.nfs*

### Pitón ###
# Archivos DLL compilados en bytes y optimizados
__pycache__/
*.py[código]
*$py.clase

# Extensiones C

# Distribución / embalaje
.Pitón
construir/
desarrollar-huevos/
distribución/
Descargas/
huevos/
.huevos/
lib/
lib64/
regiones/
distancia/
variedad/
ruedas/
compartir/ruedas-python/
*.huevo-info/
.instalado.cfg
*.huevo
MANIFIESTO

# Instalador de Py
# Generalmente, estos archivos se escriben mediante un script de Python a partir de una plantilla.
# antes de que PyInstaller construya el exe, para poder inyectarle fecha y otra información.
*.manifiesto
*.especulación

# Registros del instalador
archivo pip-log.txt
pip-eliminar-este-directorio.txt

# Informes de cobertura/pruebas unitarias
código html/
.toxico/
.nox/
.cobertura
.cobertura.*
.cache
pruebas de nariz.xml
Cobertura.xml
*.cubrir
*.py,portada
.hipótesis/
.pytest_cache/
cubrir/

# Traducciones
*.mes
*.olla

# Cosas de Django:
*.registro
configuración_local.py
base de datos sqlite3
diario db.sqlite3

# Cosas del matraz:
instancia/
.webassets-cache

# Cosas raras:
.desordenado

# Documentación de Sphinx
documentos/_build/

# Constructor de Py
.pybuilder/
objetivo/

# Cuaderno Jupyter
.ipynb_puntos de control

#IPython
perfil_predeterminado/
ipython_config.py

#pyenv
# Para una biblioteca o paquete, es posible que desees ignorar estos archivos ya que el código es
# destinado a ejecutarse en múltiples entornos; de lo contrario, regístrelos en:
# versión .python

#tubería
# Según pypa/pipenv#598, se recomienda incluir Pipfile.lock en el control de versiones.
# Sin embargo, en caso de colaboración, si hay dependencias o dependencias específicas de la plataforma
# al no tener soporte multiplataforma, pipenv puede instalar dependencias que no funcionan o no
#Instalar todas las dependencias necesarias.
#ArchivoPip.lock

# poesía
# Similar a Pipfile.lock, generalmente se recomienda incluir poetry.lock en el control de versiones.
# Esto se recomienda especialmente para paquetes binarios para garantizar la reproducibilidad y es más
# comúnmente ignorado por las bibliotecas.
# https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poesía.bloqueo

#pdm
# Similar a Pipfile.lock, generalmente se recomienda incluir pdm.lock en el control de versiones.
#pdm.bloqueo
# pdm almacena configuraciones de todo el proyecto en .pdm.toml, pero se recomienda no incluirlo
# en control de versiones.
# https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; utilizado por ejemplo en github.com/David-OConnor/pyflow y github.com/pdm-project/pdm
__paquetespy__/

# Cosas de apio
horario de celerybeat
apiobeat.pid

# Archivos analizados por SageMath
*.sage.py

# Entornos
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuración del proyecto Spyder
Proyecto .spyder
.proyecto espía

# Configuración del proyecto de cuerda
.proyecto de cuerda

# Documentación de mkdocs
/sitio

#mipy
.mypy_cache/
.dmypy.json
dmypy.json

# Comprobador de tipo Pyre
.pira/

# analizador de tipos estático pytype
.pytype/

# Símbolos de depuración de Cython
depuración de cython/

#PyCharm
# La plantilla específica de JetBrains se mantiene en un JetBrains.gitignore separado que puede
# se puede encontrar en https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# y se puede agregar al gitignore global o fusionarlo en este archivo. Para una versión más nuclear
# Opción (no recomendada) puedes descomentar lo siguiente para ignorar toda la carpeta de ideas.
#.idea/

### Parche de Python ###
# Archivo de configuración local de Poetry: https://python-poetry.org/docs/configuration/#local-configuration
poesía.toml

# gruñido
.ruff_cache/

# Archivos de configuración LSP
pyrightconfig.json

### Código de Visual Studio ###
.vscode/*
!.vscode/configuraciones.json
!.vscode/tareas.json
!.vscode/launch.json
!.vscode/extensiones.json
!.vscode/*.fragmentos de código

# Historial local para Visual Studio Code
.historia/

# Extensiones de código de Visual Studio creadas
*.vsix

### Parche de VisualStudioCode ###
# Ignorar todo el historial local de archivos
.historia
.ionuro

### Ventanas ###
# Archivos de caché de miniaturas de Windows
Pulgares.db
Thumbs.db: encriptable
ehthumbs.db
ehthumbs_vista.db

# Archivo de volcado
*.dump de pila

# Archivo de configuración de carpeta
[Dd]esktop.ini

# Papelera de reciclaje utilizada en recursos compartidos de archivos
$PAPELETO DE RECICLAJE/

# Archivos del instalador de Windows
*.taxi
*.msi
*.msix
*.msm
*.msp

# Atajos de Windows
*.lnk

# Fin de https://www.toptal.com/developers/gitignore/api/python,windows,linux,visualstudiocode,c++,git